# --- Java / Maven standard ---

# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# J2ME temp files
.mtj.tmp/

# Build artifacts
target/
**/target/
bin/
**/bin/

# Archives
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*

# Eclipse metadata
.classpath
.project
.settings/

