<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <setAttribute key="additional_plugins"/>
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bad_container_name" value="/org.eclipsetrader.releng/r"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/EclipseTrader"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime_workspace"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -debug"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="--add-modules=jdk.incubator.vector"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc}"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipsetrader.platform.workbench"/>
    <setAttribute key="selected_features"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.lucene.core@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.beans@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
        <setEntry value="org.eclipse.equinox.http.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.help.base@default:default"/>
        <setEntry value="org.eclipse.help.ui@default:default"/>
        <setEntry value="org.eclipse.help.webapp@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jetty.http@default:default"/>
        <setEntry value="org.eclipse.jetty.io@default:default"/>
        <setEntry value="org.eclipse.jetty.security@default:default"/>
        <setEntry value="org.eclipse.jetty.server@default:default"/>
        <setEntry value="org.eclipse.jetty.util@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.ui.forms@default:default"/>
        <setEntry value="org.eclipse.ui.net@default:default"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="com.sun.syndication.fetcher@default:default"/>
        <setEntry value="com.sun.syndication@default:default"/>
        <setEntry value="com.tictactec.ta.lib@default:default"/>
        <setEntry value="javax.xml.bind@default:default"/>
        <setEntry value="org.apache.commons.codec@default:default"/>
        <setEntry value="org.apache.commons.collections@default:default"/>
        <setEntry value="org.apache.commons.httpclient@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.commons@default:default"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.eclipse.nebula.widgets.cdatetime@default:default"/>
        <setEntry value="org.eclipsetrader.archipelago@default:default"/>
        <setEntry value="org.eclipsetrader.borsaitalia@default:default"/>
        <setEntry value="org.eclipsetrader.brokers.paper@default:default"/>
        <setEntry value="org.eclipsetrader.core@default:default"/>
        <setEntry value="org.eclipsetrader.jessx@default:default"/>
        <setEntry value="org.eclipsetrader.news@default:default"/>
        <setEntry value="org.eclipsetrader.platform.doc.isv@default:default"/>
        <setEntry value="org.eclipsetrader.platform.doc.user@default:default"/>
        <setEntry value="org.eclipsetrader.platform@default:default"/>
        <setEntry value="org.eclipsetrader.repository.hibernate.derby@default:false"/>
        <setEntry value="org.eclipsetrader.repository.hibernate.postgresql@default:false"/>
        <setEntry value="org.eclipsetrader.repository.hibernate@default:default"/>
        <setEntry value="org.eclipsetrader.repository.local@default:default"/>
        <setEntry value="org.eclipsetrader.ui.application@default:default"/>
        <setEntry value="org.eclipsetrader.ui.charts.indicators@default:default"/>
        <setEntry value="org.eclipsetrader.ui@default:default"/>
        <setEntry value="org.hibernate@default:default"/>
        <setEntry value="org.htmlparser@default:default"/>
        <setEntry value="org.jdom@default:default"/>
        <setEntry value="org.mozilla.rhino@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${workspace_loc:org.eclipsetrader.platform-feature/rootfiles/configuration/config.ini}"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="true"/>
    <booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
