<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Jessx"
         point="org.eclipsetrader.core.connectors">
          <connector
                class="org.eclipsetrader.jessx.internal.core.connector.FeedConnector"
                id="org.eclipsetrader.jessx.feed"
                name="JessX! Finance">
          </connector>
           <backfill
            class="org.eclipsetrader.jessx.internal.core.connector.BackfillConnector"
            id="org.eclipsetrader.jessx.bf"
            name="JessX! Finance BF">
      </backfill>
      <property
            id="org.eclipsetrader.jessx.symbol"
            name="Symbol">
      </property>
      <connector
            class="org.eclipsetrader.jessx.internal.core.connector.StreamingConnector"
            id="org.eclipsetrader.jessx.connector"
            name="JessX! Finance Streaming">
      </connector>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
     <page
            category="org.eclipsetrader.ui.preferences.plugins"
            class="org.eclipsetrader.jessx.internal.ui.preferences.AuthenticationPage"
            id="org.eclipsetrader.jessx.general"
            name="JessX! Finance">
      </page>
      <page
            category="org.eclipsetrader.ui.preferences.news"
            class="org.eclipsetrader.jessx.internal.ui.preferences.NewsPreferencesPage"
            id="org.eclipsetrader.jessx.news"
            name="JessX! Finance">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipsetrader.jessx.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipsetrader.core.trading.brokers">
      <broker
            class="org.eclipsetrader.jessx.internal.core.BrokerConnector"
            id="org.eclipsetrader.brokers.jessx"
            name="Jessx">
      </broker>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipsetrader.ui.file.trade?after=additions">
         <command
               commandId="org.eclipsetrader.ui.file.trade"
               label="Jessx">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
            <parameter
                  name="broker"
                  value="org.eclipsetrader.brokers.jessx">
            </parameter>
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Finence data importer (JessX)"
            id="org.eclipsetrader.jessx.importWizards">
      </category>
      <wizard
            category="org.eclipsetrader.ui.import.data"
            class="org.eclipsetrader.jessx.internal.ui.wizards.DataImportWizard"
            icon="logo_JessX_16.gif"
            id="org.eclipsetrader.jessx.data"
            name="JessX! Finance">
         <description>
            Import historical data from JessX! Finance.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipsetrader.news.providers">
      <provider
            class="org.eclipsetrader.jessx.internal.news.NewsProviderFactory"
            id="org.eclipsetrader.news.jessx"
            name="JessX! Finance">
      </provider>
   </extension>
   <extension
         point="org.eclipsetrader.core.providers">
      <provider
            class="org.eclipsetrader.jessx.internal.ui.FeedIdentifierFactory"
            id="org.eclipsetrader.jessx.providers.symbol"
            name="JessX! Finance">
      </provider>
   </extension>

</plugin>
