name: Build
on:
  push:
    branches:
      - main
      - master
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven
      - name: Maven Build
        run: mvn -U clean verify -V
      - name: Upload Product Zip
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: eclipsetrader-win64-product
          path: org.eclipsetrader.releng/target/products/eclipsetrader-win32.win32.x86_64.zip
          if-no-files-found: warn
